<div class="text-center py-4 align-items-center">
  <h3>
    <p><strong>Información Útil</strong></p>
  </h3>
  <a
    href="https://www.facpce.org.ar/"
    role="button"
    rel="nofollow, noreferrer"
    target="_blank"
  >
    <img
      src="../../../assets/icons/facpce.png"
      class="links__item"
      appAgrandar
      alt="facpce - Sivila & Asociados"
    />
  </a>
  <a
    href="https://www.afip.gob.ar/"
    role="button"
    rel="nofollow, noreferrer"
    target="_blank"
  >
    <img
      src="../../../assets/icons/afip.png"
      appAgrandar
      class="links__item"
      alt="afip - Sivila & Asociados"
    />
  </a>
  <a
    href="https://www.aref.gob.ar/"
    role="button"
    rel="nofollow"
    rel="noreferrer"
    target="_blank"
  >
    <img
      src="../../../assets/icons/aref.png"
      appAgrandar
      class="links__item"
      alt="aref - Sivila & Asociados"
    />
  </a>
  <a
    href="https://www.cpcetf.org.ar/"
    role="button"
    rel="nofollow, noreferrer"
    target="_blank"
  >
    <img
      src="../../../assets/icons/consejo.png"
      appAgrandar
      class="links__item"
      alt="cpcetf - Sivila & Asociados"
    />
  </a>
  <a
    href="http://servicios.infoleg.gob.ar/infolegInternet/anexos/25000-29999/28185/norma.htm"
    role="button"
    rel="nofollow"
    target="_blank"
  >
    <img
      src="../../../assets/icons/19640.png"
      appAgrandar
      class="links__item"
      alt="ley 19.640 - Sivila & Asociados"
    />
  </a>
  <a
    href="https://igj.tierradelfuego.gov.ar/"
    role="button"
    rel="nofollow, noreferrer"
    target="_blank"
  >
    <img
      src="../../../assets/icons/igj.png"
      appAgrandar
      class="links__item"
      alt="acgra - Sivila & Asociados"
    />
  </a>
</div>
