
<footer>
  <!-- <hr class="m-0" /> -->
<!-- Marcas que nos Aprueban -->
<p class=" container" style="font-family: sans-serif;">Marcas que Trabajan con nosotros:</p>
<app-infinite-carousel></app-infinite-carousel>

<!-- Copyright -->
<div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2) !important;">
  © 2021 Copyright:
  <a class="text-dark" href="#">Todos los derechos reservados</a> - 
  <a routerLink="login" style="text-decoration: none;" class="text-dark">Login</a>
</div>
</footer>
