
<footer>
  <!-- <hr class="m-0" /> -->
<!-- Marcas que nos Aprueban -->
<h3 class="mb-1 mt-2  text-white  text-center  noDrag ">Marcas que Trabajan con nosotros</h3>
<app-infinite-carousel></app-infinite-carousel>

<!-- Copyright -->
<div class="text-center  text-white  p-3" style="background-color: #9a8f8f52; display: flex; justify-content: center; align-items: center;">
  <p class="copy" style="text-decoration: none; cursor: default;">© 2021 Copyright: Todos los derechos reservados - <a routerLink="login" class="login text-white">Login</a></p> 
  
</div>
</footer>
