
<footer>
  <!-- <hr class="m-0" /> -->
<!-- Marcas que nos Aprueban -->
<h3 class="mb-5  text-white  text-center  noDrag ">Marcas que Trabajan con nosotros</h3>
<app-infinite-carousel></app-infinite-carousel>

<!-- Copyright -->
<div class="text-center  text-white  p-3 " style="background-color: rgba(0, 0, 0, 0.2) !important;">
  © 2021 Copyright:
  <p class=" text-white " style="display: inline-block;">Todos los derechos reservados</p> - 
  <a routerLink="login" style="text-decoration: none;" class="text-dark">Login</a>
</div>
</footer>
