<nav class="navbar  navbar-expand-lg navbar-dark" id="navbar" ngxHideOnScroll [propertyUsedToHide]="'top'"
  [valueWhenHidden]="'-100px'" [valueWhenShown]="'0px'">
  <div class="row">

  </div>
  <div class="container">
    <div class="nav__logo" #nav__logo>
      <a pageScroll [pageScrollDuration]="500" class="navbar-brand" href="#home">
        <img id=nav__logo-img #nav__logo_img src="../../../assets/logoCortadoOriginal.png" alt="logo sivila " srcset="">
      </a>
    </div>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item effect">
        <a class="nav-link waves-effect" (click)="logOut()">
          <i class="fas fa-user exit"></i>
          <i class="fas fa-sign-out-alt exit"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>


<br><br>
<br><br>


<div align="center" class="container">

  <app-news></app-news>

  <button class="btn btn-primary btn-block mt-3" (click)="writePost()">Crear Post</button>

</div>



<ng-template #modaladdPost let-modal>
  <form [formGroup]="post">

    <div class="modal-body">


      <div class="banner">

        <div *ngIf="filePath && filePath !== ''">
          <img [src]="filePath" [alt]="myForm.value.name" class="imgCover">
        </div>

        <input type="file" accept="image/*" id="banner-upload" (change)="imagePreview($event)" hidden>
        <label for="banner-upload" class="banner-upload-btn"><img
            src="https://raw.githubusercontent.com/kunaal438/blogging-site/master/public/img/upload.png"
            alt="upload banner"></label>
      </div>

      <textarea type="text" class="text-center mt-3 title" formControlName="titulo" placeholder="Titulo..."></textarea>

      <textarea type="text" class="text-left subtitle" formControlName="subtitulo" placeholder="Subitulo..."></textarea>
      <textarea type="text" class="article" formControlName="contenido" placeholder="Empiece a escribir..."></textarea>

    </div>

    <div class="blog-options">
      <button class="btn dark publish-btn" *ngIf="post.invalid" [disabled]="post.invalid"
        (click)="addPost()">Publicar</button>

      <button class="btn dark publish-btn success" *ngIf="!post.invalid" (click)="addPost()">Publicar</button>
    </div>
  </form>

</ng-template>
