<nav class="navbar  navbar-expand-lg navbar-dark" id="navbar" ngxHideOnScroll [propertyUsedToHide]="'top'"
  [valueWhenHidden]="'-100px'" [valueWhenShown]="'0px'">
  <div class="row">

  </div>
  <div class="container">
    <div class="nav__logo" #nav__logo>
      <a pageScroll [pageScrollDuration]="500" class="navbar-brand" href="#home">
        <img id=nav__logo-img #nav__logo_img src="../../../assets/logoCortadoOriginal.png" alt="logo sivila " srcset="">
      </a>
    </div>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item effect">
        <a class="nav-link waves-effect" (click)="logOut()">
          <i class="fas fa-user exit"></i>
          <i class="fas fa-sign-out-alt exit"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>


<br><br>
<br><br>


<div align="center" class="container">

  <app-news></app-news>

  <button class="btn btn-primary btn-block mt-3" (click)="writePost()">Crear Post</button>

</div>



<ng-template #modalPost let-modal>
  <form [formGroup]="post">
    <div class="modal-body">
      <div class="banner">
        <div *ngIf="this.imgResultAfterCompress && this.imgResultAfterCompress !== ''">
          <img [src]="imgResultAfterCompress" [alt]="post.value.name" class="imgCover">
        </div>
        <button id="banner-upload" (click)="compressFile()" hidden></button>
        <!-- <input type="file" accept="image/*" id="banner-upload" (change)="imagePreview($event)"  > -->
        <label for="banner-upload" class="banner-upload-btn"><i class="fa fa-upload"></i></label>
      </div>
      <textarea type="text" class="text-center mt-1 title" cols="1" rows="1" formControlName="titulo" placeholder="Titulo..."></textarea>
      <textarea type="text" class="text-left subtitle" cols="1" rows="1" formControlName="subtitulo" placeholder="Subitulo..."></textarea>
      <textarea type="text" class="article" cols="1" rows="5" formControlName="contenido" placeholder="Empiece a escribir..."></textarea>
    </div>

    <div class="blog-options">
      <button class="btn dark publish-btn success" [disabled]="seleccionoFoto || post.invalid"
        (click)="addPost()">Publicar</button>
      <!-- <button class="btn dark publish-btn success" *ngIf="!post.invalid" (click)="addPost()">Publicar</button> -->
    </div>
  </form>
</ng-template>

<!-- <img *ngIf="imgResultBeforeCompress" [src]="imgResultBeforeCompress" alt="" style="width: 100px;">
<img *ngIf="imgResultAfterCompress" [src]="imgResultAfterCompress" alt="" style="width: 100px;"> -->