<!--Carousel Wrapper-->
<section class="containVideo">
  <video class="fullscreen" src="../../../assets/video/pexels-mikhail-nilov-6963480.mp4" playsinline autoplay muted
    loop>
  </video>

  <div class="content">

  </div>

</section>

<!--Slides-->


<!--Main Navigation-->

<!--Main layout-->
<main class="mt-5">
  <div class="container">
    <!--Section: Content-->
    <app-about></app-about>
    <!--Section: Content-->

    <hr class="my-5" />

    <!--Section: Content-->
    <app-news></app-news>
    <!--Section: Content-->

    <hr class="my-5" />

    <!--Section: Content-->
    <app-contact></app-contact>
    <!--Section: Content-->
  </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="bg-light text-lg-start">

  <app-footer></app-footer>
</footer>
<!--Footer-->
