<!--Video-->
<section class="containVideo">
  <video class="fullscreen" src="../../../assets/video/pexels-mikhail-nilov-6963480.mp4" playsinline autoplay muted
    loop>
  </video>
</section>
<!--Video-->

<!--Main-->
<main class="mt-5">
  <hr class="my-5" />
  <div class="container">
    <!--Section: About-->
    <app-about id="about" appScrollNav  ></app-about>
    <!--Section: About-->
    <hr class="my-5" />
    <!--Section: News-->
    <app-news id="news"></app-news>
    <!--Section: News-->
    <hr class="my-5" />
    <!--Section: Contact-->
    <app-contact id="contact"></app-contact>
    <!--Section: Contact-->
  </div>
</main>
<!--Main-->

<!--Footer-->
<footer class="bg-light text-lg-start">
  <app-footer></app-footer>
</footer>
<!--Footer-->
