:host {
  /* Change favorite color */
  --hue-color: 300;
  /* HSL color mode */
  --first-color: rgb(25, 53, 73);
}

nav {

  background: var(--first-color) !important;

}
.nav__logo {
  position: relative;
}
#nav__logo-img {
  width: 2em;
  height: auto;
}
@media screen and (min-width: 992px) {
  .nav__logo {
    display: block;
    width: 13em;
  }
  .nav__img {
    position: absolute;
    width: 12em;
    top: -2em;
    left: -1em;
  }
  #nav__logo-img {
    width: 100%;
    height: auto;
  }
}
