<div class="row">
  <section class="mb-5 col-12 col-lg-6 ">
  <h4 class="mb-5 text-center"><strong>Contacto</strong></h4>
      <form novalidate (ngSubmit)="onSubmit()" [formGroup]="userForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre Completo</label>
          <input type="text" class="form-control" id="fullname" placeholder="Nombre Apellido" formControlName="fullname"
            [class]="isValidField('fullname')" />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Correo Electronico</label>
          <input type="email" class="form-control" id="email" placeholder="contador@gmail.com" formControlName="email"
            [class]="isValidField('email')" />
        </div>
        <div class="form-group">
          <label for="subject">Asunto</label>
          <input type="text" class="form-control" id="subject" placeholder="Asunto"
            formControlName="subject" [class]="isValidField('subject')" />
        </div>
        <div class="form-group">
          <label for="comment">Consulta</label>
            <textarea type="text-area"class="form-control" id="comment" placeholder="Consulta"
            formControlName="comment" [class]="isValidField('comment')" style="resize: none;" rows=6></textarea>
          <!-- agregar minima cantidad de caracteres -->
        </div>
        <button *ngIf="!loading" type="submit" class="btn btn-primary btn-block mb-4" [disabled]="userForm.invalid">
          Enviar
        </button>
        <button *ngIf="loading" type="submit" class="btn btn-primary btn-block mb-4" disabled>
          <div class="d-flex align-items-center">
            <strong>Enviando...</strong>
            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
          </div>
        </button>
      </form>
</section>
<section class="col-12 col-lg-6">
  
  
  <iframe width="100%" height="auto" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
  src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=25%20de%20Mayo%20260%20Piso%201%20depto%207,%20Ushuaia,%20Tierra%20del%20Fuego+(Estudio%20Contable%20-%20Sivila%20y%20Asociados)&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>

</section>
</div>


