<section class="mb-5">

  <h4 class="mb-5 text-center"><strong>Contacto</strong></h4>

  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="FormData" (ngSubmit)="showContact(FormData.value)">

        <!-- 2 column grid layout with text inputs for the first and last names -->

        <!-- Name input -->
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" id="form3Example1" class="form-control" formControlName="name" />
              <label class="form-label" for="form3Example1">Nombre*</label>
            </div>
            <small class="invalid" *ngIf="FormData.controls.name.errors?.required && FormData.controls.name.touched">
              El nombre es requerido</small>
          </div>

          <!-- Lastname input -->
          <div class="col">
            <div class="form-outline">
              <input type="text" id="form3Example2" class="form-control" formControlName="lastname" />
              <label class="form-label" for="form3Example2">Apellido*</label>
            </div>
            <small class="invalid"
              *ngIf="FormData.controls.lastname.errors?.required && FormData.controls.lastname.touched">
              El apellido es requerido</small>
          </div>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="form3Example3" class="form-control" formControlName="email" />
          <label class="form-label" for="form3Example3">Email*</label>
          <br>
          <small class="invalid" *ngIf="FormData.controls.email.errors?.required && FormData.controls.email.touched">
            El email es requerido</small>
        </div>

        <!-- Message input -->
        <div class="form-outline mb-4">
          <textarea type="text-area" id="form3Example4" class="form-control" rows="3"
            formControlName="comment"></textarea>
          <label class="form-label" for="form3Example4">Consulta*</label>
          <br>
          <small class="invalid"
            *ngIf="FormData.controls.comment.errors?.required && FormData.controls.comment.touched">
            La consulta es requerida</small>
        </div>

        <!-- Submit button -->
        <button *ngIf="!loading" type="submit" class="btn btn-primary btn-block mb-4" [disabled]="!FormData.valid">
          Enviar
        </button>

        <!-- Loading Submit button -->
        <button *ngIf="loading" type="submit" class="btn btn-primary btn-block mb-4" disabled>

          <div class="d-flex align-items-center">
            <strong>Enviando...</strong>
            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
          </div>

        </button>

      </form>

    </div>
  </div>
</section>

<iframe width="100%" height="350px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
  src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=25%20de%20Mayo%20260%20Piso%201%20depto%207,%20Ushuaia,%20Tierra%20del%20Fuego+(Estudio%20Contable%20-%20Sivila%20y%20Asociados)&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
<!--   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d123821.91733403364!2d-68.41346783602488!3d-54.78383820074816!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbc4c23ba8f25a3f3%3A0xfa013b808fc25b27!2sAeropuerto%20de%20Ushuaia!5e0!3m2!1ses!2sar!4v1627102027908!5m2!1ses!2sar" 
width="100%" height="350px" style="border: 0;" allowfullscreen="" loading="lazy"></iframe>  -->
