<app-nav-bar (showNavBar)="hiddeLogo($event)"></app-nav-bar>
<div id="img__logo" class="container " style="position: relative;">
  <img id=nav__logo-img #nav__logo_img src="../../../assets/logo.jpg" class="effect" alt="logo sivila" srcset=""
    style="position: absolute; z-index: 200; width: 10em ;">
</div>
<!--Video-->
<section class="containVideo" id="home" style="position: relative;">

  <video class="fullscreen" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" id="vid">
    <source src="../../../assets/video/pexels-mikhail-nilov-6963480.mp4" type="video/mp4">
  </video>

</section>
<!--Video-->
<hr class="my-5"  id="info"/>
<!--Enlaces utiles-->
<app-links></app-links>
<!--Enlaces utiles-->

<!--Main-->
<main class="main">
  <div class="container-xl">
    <hr class="my-5" id="news" />
    <!--Section: News-->
    <app-news class="news m-3"></app-news>
    <!--Section: News-->
    <hr class="my-5" id="about" />
    <!--Section: About-->
    <app-about class="about"></app-about>
    <!--Section: About-->
    <hr class="my-5" id="contact" />
    <!--Section: Contact-->
    <app-contact></app-contact>
    <!--Section: Contact-->
  </div>
</main>
<!--Main-->

<!--Footer-->
<footer class="bg-light text-lg-start">
  <app-footer></app-footer>
</footer>
<!--Footer-->
