<app-nav-bar (showNavBar)="hiddeLogo($event)"></app-nav-bar>
<div [routerLink]="['']" id="img__logo" class="container " style="position: relative;">
  <img id=nav__logo-img #nav__logo_img src="../../../assets/logo.webp" class="effect" alt="logo sivila" srcset=""
    style="position: absolute; z-index: 200; width: 10em ;">
</div>
<br><br><br><br><br><br><br><br><br><br>
<div class="container article">
  <article class="container card">
    <h1>Informes y Certifiaciones</h1>
    <p>
      Emisión de informes y legalizaciones ante el Consejo Profesional de Ciencias Económicas de Capital Federal
     <strong> (C.P.CECABA) </strong>    A saber:
    </p>

    <ul>

      <li>Certificación de origen licito de fondos</li>

      <li> Certificación de ingresos personales</li>

      <li>Manifestación de bienes</li>

      <li>Certificación de ingresos y gastos</li>

      <li>Informes de cumplimiento</li>

      <li>Certificación pagos sujetos del exterior</li>

<a routerLink="contact"><strong>Consultar por otras certificaciones </strong> </a> 

    </ul>   
  </article>

</div>
