<div class="container-xl" style="padding: 0">
  <ng-carousel
    #carouselRef="ngCarousel"
    [config]="config"
    (itemIndexChange)="setItemIndex($event)"
    class="carousel-block"
  >
    <ng-template
      [ngCarouselSlide]="carouselRef"
      let-item
      let-active="isActive"
      let-activeOnTheRight="activeOnTheRight"
      let-activeOnTheLeft="activeOnTheLeft"
      style="object-fit: contain"
    >
      <div [class.active]="active" class="carousel-slide">
        <img
          src="https://img.freepik.com/vector-gratis/logotipo-abstracto-letra-u-degradado-moderno-colorido_487879-877.jpg?w=826&t=st=1671120099~exp=1671120699~hmac=b8f59d3ec7f5a79dba0260ec805bcb6d9c40656cb7113a9077b26e9e044e191d"
          alt=""
          style="height: 150px; object-fit: cover"
        />
      </div>
    </ng-template>
  </ng-carousel>
</div>
<!-- [style.background-image]="item.image" -->
