carousel {
  position: relative;
  z-index: 1;
} 


.card{
    width: 300px;
    height: 360px;
    margin: auto;
}

.title{
    font-size: 1.6rem;
}
.subtitle{
    font-size: 1.1rem;
}
.text{
    font-size: .9rem;
}
.carousel-cell {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.effect:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 1;
  transition: all 0.3s ease;
}

.img{
    background-position: center;
    background-size: contain;
    height: 200px;
    width: 100%;
}