<app-nav-bar (showNavBar)="hiddeLogo($event)"></app-nav-bar>
<div [routerLink]="['']" id="img__logo" class="container " style="position: relative;">
  <img id=nav__logo-img #nav__logo_img src="../../../assets/logo.jpg" class="effect" alt="logo sivila" srcset=""
    style="position: absolute; z-index: 200; width: 10em ;">
</div>
<br><br><br><br><br><br><br><br><br><br>
<div class="container article">
    <article class="container card">
        <h1>Servicios Impositivos</h1>
        <h2>Asesoramiento y liquidación de impuestos</h2>
        <p>Brindamos un servicio de consultoría y actualización impositiva у constante.
           Liquidación de impuestos anuales y mensuales de personas físicas y sociedades, a saber: Impuesto a las Ganancias. Bienes Personales y Renta Financiera o Impuesto Cedular, Impuesto al Valor Agregado (IVA), Impuesto sobre los Ingresos Brutos, Tasas Municipales, Sellos. Autónomos y Monotributo. 
           Consultar por Trámite MiPyme y otros impuestos.
        </p>
        <h2>Regularización Fiscal</h2>
        <p>Moratorias y Planes de pagos AFIP - ARBA - AGIP (Rentas de la Ciudad de Buenos Aires).
           Inscripciones, bajas por cese de actividades y constancias de libre deuda. Verificación de exclusiones de oficio y aplicación de la Ley de Procedimiento Fiscal, a saber Recurso de Apelación. 
           Recusación de Impuestos. Recurso Especial Art 74 Atención especial en Juicios Administrativos y ante el Tribunal Fiscal de la Nación (TFN).</p>
        <h2>Inspecciones y Requerimientos</h2>
        <p>Ofrecemos un servicio especial con el fin de prevenir embargos y ejecuciones fiscales. 
          Atención de inspecciones integrales AFIP y COMARB Resolución de conflictos con organismos de contralor, a saber: requerimientos de Inspección General de Justicia (IGJ). 
          Ministerio de Trabajo, intimaciones de AFIP - AGIP - ARBA</p>
        <h2>Pequeños emprendedores</h2>
        <p>Asesoramos y acompañamos al contribuyente realizando trámites e inscripciones en los organismos de las distintas jurisdicciones. 
          Monotributo y Régimen Simplificado de Ingresos Brutos, Regimenes Locales y Convenio Multilateral Control y seguimiento de la facturación y gastos, verificaciones en AFIP según parámetros. 
          Recategorizaciones en Monotributo y Régimen General de Autónomos. 
          Domicilio electrónico en distintos organismos de contralor y T.A.D. (Trámites a Distancia), notificaciones y descargos virtuales.</p>
      </article>

      <article class="container card mt-2 mb-2">
        <h1>Servicios Contables</h1>
        <h2>Contabilidad integral</h2>
        <p>Brindamos un servicio de contabilidad integral, en forma remota o presencial, nos adaptamos a distintas modalidades de trabajo según la administración del cliente Asistimos en la capacitación de empleados y necesidades básicas de parametrización del sistema de gestión Generación de informes y proyecciones a medida, estados de situación mensuales, presentación del Balance General según normativa vigente. 
          Análisis de Estados Contables y aplicación de ratios para su interpretación Libros contables y societarios Gestión, rúbrica y asesoramiento general</p>
        <h2>Organización Empresarial</h2>
        <p>Ofrecemos un servicio de mejoramiento funcional referido a la estructura y organigrama de la empresa. Diseño de procedimientos y circuitos administrativos, implementación de métodos de control interno y puesta en marcha de la administración central de la empresa. Trabajamos de manera online y/o presencial</p>
      </article>
</div>
