.card{
    background: rgba(255, 255, 255, 0.918);
    box-shadow: 0 8px 32px 0 rgb(150, 3, 50);
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.effect:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
    transition: all 0.3s ease;
  }
  article{
      font-family: 'Raleway', 'sans Serif'
  }